/* general styling */  

:root {
  --smaller: .5;
}
  .container {
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-family: "True";
    font-size: 1rem;
    font-weight: normal;
  }
  
  lp {
    font-family: "True";
    margin: 0 1.5rem 0 1.5rem;
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    text-transform: uppercase;
  }
  
  lp span {
    display: block;
    font-size: 3.5rem;
  }

  @media (max-width: 960px) {
    lp {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    lp span {
      font-size: calc(3.5rem * var(--smaller));
    }
  }
