/* Timeline - Years */
.timelines-years {
    top: 300px;
    margin: 0;
    white-space: nowrap;
    border-top: 1px solid #FFFFFF30;
    list-style: none;
   /* Fix display: inline-block spacing issue */
    font-size: 0;
}
.timelines-years li {
    display: inline-block;
    width: 175px;
    color: '#010101';
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
}
/* Timeline - Events */
.timeline-events {
    top: 170px;
    margin: 10rem 0 3rem 0;
    list-style: none;
    white-space: nowrap;
   /* Fix display: inline-block spacing issue */
    font-size: 0;

}
.timeline-events h2, .timeline-events h3, .timeline-events h4 {
    margin: 0 0 5px 0;
    font-weight: normal;
    font-size: 15px;
}
.timeline-events h2 {
    color: '#010101';
    text-transform: uppercase;
}
.timeline-events h4 {
    color: '#010101';
}
.timeline-events li {
    position: relative;
    display: inline-block;
}
.timeline-events li:before {
    position: absolute;
    bottom: -36px;
    height: 8px;
    border-radius: 8px;
    content: '';
}
.timeline-events li:nth-child(1) {
    bottom: 20px;
}
.timeline-events li:nth-child(2) {
    bottom: 35px;
}
.timeline-events li:nth-child(3) {
    bottom: 50px;
}
.timeline-events li:nth-child(4) {
    bottom: 65px;
}
.timeline-events li:nth-child(5) {
    bottom: 80px;
}
.timeline-events li:nth-child(6) {
    bottom: 95px;
}
/* Timeline - Events - Colours */
/* Grey/Green */
.timeline-events li:nth-child(1):before {
    background: #c2e34e;
    border-radius: 6px 6px 6px 6px;
}
.timeline-events li:nth-child(1) h3 {
    color: #c2e34e;
}
/* Orange */
.timeline-events li:nth-child(2):before {
    background: #ff9704;
}
.timeline-events li:nth-child(2) h3 {
    color: #ff9704;
}
/* Blue */
.timeline-events li:nth-child(3):before {
    background: #56c2f3;
}
.timeline-events li:nth-child(3) h3 {
    color: #56c2f3;
}
/* Red */
.timeline-events li:nth-child(4):before {
    background: #dd3d01;
}
.timeline-events li:nth-child(4) h3 {
    color: #dd3d01;
}
/* Aqua/Grey */
.timeline-events li:nth-child(5):before {
    background: #4a8b8f;
    border-radius: 6px 6px 6px 6px;
}
.timeline-events li:nth-child(5) h3 {
    color: #4a8b8f;
}
/* Aqua/Grey */
.timeline-events li:nth-child(6):before {
    background: #00f2ff;
    border-radius: 6px 6px 6px 6px;
}
.timeline-events li:nth-child(6) h3 {
    color: #00f2ff;
}
/* Timeline - Events - Grid */
/* X years */
.timeline-event-years-0, .timeline-event-years-0:before {
    width: 0px;
}
/* X.5 years */
.timeline-event-years-0-5, .timeline-event-years-0-5:before {
    width: 450px;
}
/* X years */
.timeline-event-years-1, .timeline-event-years-1:before {
    width: 10px;
}
/* X.5 years */
.timeline-event-years-1-5, .timeline-event-years-1-5:before {
    width: 10px;
}
/* X years */
.timeline-event-years-2, .timeline-event-years-2:before {
    width: 200px;
}
/* X.5 years */
.timeline-event-years-2-5, .timeline-event-years-2-5:before {
    width: 250px;
}
/* X years */
.timeline-event-years-3, .timeline-event-years-3:before {
    width: 280px;
}
/* X.5 years */
.timeline-event-years-3-5, .timeline-event-years-3-5:before {
    width: 150px;
}
/* X years */
.timeline-event-years-4, .timeline-event-years-4:before {
    width: 400px;
}